@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

:root {
  --primary: #f2f5f8;
  --primary2: #cfd8e0;
  --secondary: #24303a;
  --secondary2: #2f3943;
  --accent: #5ab7f6;
  font-family: "Press Start 2P", monospace;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--secondary2);
  overflow-x: hidden;
}

.highlight-accent {
  color: var(--accent);
}

.plus-button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--secondary);
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--primary);
}

/* Top Page */
#top-header {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#top-header h1 {
  font-family: "Press Start 2P", monospace;
  font-size: 28px;
  background: linear-gradient(
    to bottom,
    #e3350d 0%,
    #e3350d 45%,
    #000000 45%,
    #000000 55%,
    #ffffff 55%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* My Cards */
#my-cards-header {
  border-bottom: solid 1px var(--secondary);
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#my-cards-header h2 {
  background: linear-gradient(
    to bottom,
    #6e2cb0 0%,
    #6e2cb0 45%,
    #000000 45%,
    #000000 55%,
    #ffffff 55%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#my-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 470px));
  grid-auto-rows: 300px;
  gap: 10px;
  padding: 20px;
  width: 100%;
  min-height: 98vh;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary);
  height: 300px;
  max-width: 600px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 10px;
}

.card-img {
  width: 200px;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}

.card-name {
  font-weight: 800;
}

.card-number {
  color: var(--primary2);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 50px;
}

.card-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
