<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Jersey+10&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>PCC</title>
  </head>
  <body>
    <div id="top-header">
      <h1>
        Pokémon <span class="black-text">Card</span>
        <span class="white-text">Checker</span>
      </h1>
    </div>
    <div id="my-cards-section">
      <div id="my-cards-header">
        <h2>My Cards</h2>
        <div id="plus-delete-container">
          <button class="plus-button">+</button>
          <button class="camera-button"><img id="bin-img" src="static/images/camera.png"></button>
          <button class="bin-button"><img id="bin-img" src="static/images/bin.png"></button>
        </div>
      </div>
      <div id="my-cards-grid">
        {% for card in cards %}
        <div class="card">
          {% if card.image_base64 %}
          <img
            class="card-img"
            src="data:image/jpeg;base64,{{ card.image_base64 }}"
            alt="{{ card.name }}"
          />
          {% endif %}
          <div class="desc">
            <div>
              <h2>
                <span class="card-name">{{ card.name }}</span>
              </h2>
              <p>
                <span class="card-number">#{{ card.number }} </span>
              </p>
            </div>
            <div class="card-desc">
              <p>
                Ungraded Price:
                <span class="highlight-accent">£{{ card.ungraded_price }}</span>
              </p>
              <p>
                Graded Price:
                <span class="highlight-accent">£{{ card.graded_price }}</span>
              </p>
              <p>Added: {{ card.created_at.strftime('%d-%m-%Y') }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="add-card-modal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>Add Card</h2>
          <form id="add-card-form" method="POST" action="{{ url_for('main.add_card') }}">
            <label for="card-name">Name:</label>
            <input type="text" id="card-name" name="name" required />

            <label for="card-number">Number:</label>
            <input type="text" id="card-number" name="number" required />

            <button type="submit" class="submit-button">Add Card</button>
          </form>
        </div>
      </div>
    </div>

    <div id="camera-modal" class="modal">
  <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Scan Card</h2>
      <form id="camera-form" method="POST" action="{{ url_for('main.identify_card') }}" enctype="multipart/form-data">
        <label for="card-image">Image:</label>
        <input type="file" id="card-image" name="image" accept="image/*" capture="environment" required />
        <button type="submit" class="submit-button">Upload</button>
      </form>
    </div>
  </div>

    <div id="nav">
      <img id="live-scan-img" src="static/images/camera.png">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
